{
  "extends": "airbnb",
  "rules": {
    "no-alert": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "arrow-parens": [2, "always"],
    "no-param-reassign": "off",
    "no-new": "off"
  },
  "globals": {
    "$": true,
    "Pikaday": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
